/* font styleing */
/* Orbitron (for heading) */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

/* Rajdhani (for body text) */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Rajdhani:wght@300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* dashboard mian container */
.dash-main_container {
    width: 100vw;
    min-height: 100vh;
    max-height: auto;
    background-color: #1a1a1a;
    display: flex;
}

/* sidebar */
.sidebar {
    width: 8.2vw;
    height: 100vh;
    position: fixed;
    background-color: #121218;
    border: 1px solid #23232b;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10%;
    padding-top: 3%;
}

.sidebar-btns {
    height: 12%;
    width: 65%;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar-btns:hover {
    background-color: rgba(128, 128, 128, 0.164);
}

.sidebar-logo {
    background: linear-gradient(135deg, #7A3FFF, #0DEBEB);
    box-shadow: 0 0 30px #793fffa5;
    transition: transform 0.2s ease-in-out;
}

.sidebar-logo:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px #7A3FFF;
}

.content-side {
    height: 100vh;
    width: 92.8%;
    margin-left: 8.2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content-side-bac-img {
    height: 90%;
    width: 95%;
    background-color: black;
    border-radius: 1rem;
    background-image: url(../assets/home_img-bac.jpg);
    background-size: 100% 100%;
    overflow: hidden;
}

.background-img-overlay {
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg, black, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

#mob_sidebar_slid-btn,
.mob-sidebar {
    display: none;
}

@media (max-width: 425px) {
    .sidebar {
        display: none;
    }

    #mob_sidebar_slid-btn,
    .mob-sidebar {
        display: flex;
    }


    .sidebar-btns {
        height: 60px;
        width: 60px;
        border-radius: 10px;
        margin-top: 15px;
        margin-left: 15px;
        position: fixed;
        z-index: 1001;
    }

    .content-side {
        margin-left: 0;
        width: 100vw;
    }

    /* initially hide the mobile sidebar off-screen */
    .mob-sidebar {
        height: 100vh;
        width: 70%;
        background-color: #121218;
        position: fixed;
        top: 0;
        left: -70%;
        z-index: 1000;
        transition: left 0.3s ease-in-out;
        display: flex;
        flex-direction: column;
        padding-top: 30%;
    }

    /* active class to show sidebar */
    .mob-sidebar.active {
        left: 0;
    }

    .mob-sidebar-btns {
        height: 13%;
        width: 75%;
        margin-left: 10%;
        display: flex;
        align-items: center;
        border-radius: 10px;
        padding-left: 5%;
        color: white;
        text-decoration: none;
        font-size: 20px;
        gap: 10%;
        margin-bottom: 5%;
    }

    .mob-sidebar-btns:hover {
    background-color: rgba(128, 128, 128, 0.164);
}
}