/* font styleing */
/* Orbitron (for heading) */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

/* Rajdhani (for body text) */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Rajdhani:wght@300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* dashboard mian container */
.dash-main_container {
    width: 100vw;
    min-height: 100vh;
    max-height: auto;
    background-color: #1a1a1a;
    display: flex;
}

/* sidebar */
.sidebar {
    width: 8.2vw;
    height: 100vh;
    position: fixed;
    background-color: #121218;
    border: 1px solid #23232b;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10%;
    padding-top: 3%;
}

.sidebar-btns {
    height: 12%;
    width: 65%;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.sidebar-btns:hover {
    background-color: rgba(128, 128, 128, 0.164);
}

.tooltip {
    height: 50%;
    width: 100%;
    position: absolute;
    left: 150%;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
    background-color: #121218;
    color: white;
    font-family: "Rajdhani", sans-serif;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 8px;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease, left 0.3s ease;
}

/* show on hover */
.sidebar-btns:hover .tooltip {
    opacity: 1;
    left: 140%;
}

/* small glowing arrow */
.tooltip::after {
    content: '';
    position: absolute;
    left: -5px;
    top: 50%;
    transform: translateY(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: transparent rgba(0, 0, 0, 0.85) transparent transparent;
}

.sidebar-logo {
    background: linear-gradient(135deg, #7A3FFF, #0DEBEB);
    box-shadow: 0 0 30px #793fffa5;
    transition: transform 0.2s ease-in-out;
}

.sidebar-logo:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px #7A3FFF;
}

.content-side {
    height: 100vh;
    width: 92.8%;
    margin-left: 8.2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content-side-bac-img {
    height: 90%;
    width: 95%;
    background-color: black;
    border-radius: 1rem;
    background-image: url(../assets/home_img-bac.jpg);
    background-size: 100% 100%;
    overflow: hidden;
}

.background-img-overlay {
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg, black, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    display: flex;
    align-items: center;
    padding-left: 10%;
}

.main-heading {
    height: 100%;
    width: 100%;
    font-family: "Orbitron", sans-serif;
    font-weight: 700;
    font-size: 35px;
    color: white;
}

.main-heading h1 {
    height: auto;
    width: 60%;
}

.main-heading p {
    font-family: "Rajdhani", sans-serif;
    font-size: 20px;
    width: 70%;
    font-weight: 300;
    line-height: 1.5;
    margin-top: 10px;
    color: #d1d1d1;
}

.main-heading span {
    background: linear-gradient(135deg, #7A3FFF, #0DEBEB);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main-heading button {
    height: 10%;
    width: 15%;
    background-color: #7A3FFF;
    border-radius: 10px;
    border: none;
    margin-top: 8%;
    font-family: "Rajdhani", sans-serif;
    font-size: 20px;
    font-weight: 400;
}

#mob_sidebar_slid-btn,
.mob-sidebar {
    display: none;
}

@media (max-width: 425px) {
    .sidebar {
        display: none;
    }

    #mob_sidebar_slid-btn,
    .mob-sidebar {
        display: flex;
    }


    .sidebar-btns {
        height: 60px;
        width: 60px;
        border-radius: 10px;
        margin-top: 15px;
        margin-left: 15px;
        position: fixed;
        z-index: 1001;
    }

    .content-side {
        margin-left: 0;
        width: 100vw;
    }

    /* initially hide the mobile sidebar off-screen */
    .mob-sidebar {
        height: 100vh;
        width: 70%;
        background-color: #121218;
        position: fixed;
        top: 0;
        left: -70%;
        z-index: 1000;
        transition: left 0.3s ease-in-out;
        display: flex;
        flex-direction: column;
        padding-top: 30%;
    }

    /* active class to show sidebar */
    .mob-sidebar.active {
        left: 0;
    }

    .mob-sidebar-btns {
        height: 13%;
        width: 75%;
        margin-left: 10%;
        display: flex;
        align-items: center;
        border-radius: 10px;
        padding-left: 5%;
        color: white;
        text-decoration: none;
        font-size: 20px;
        gap: 10%;
        margin-bottom: 5%;
    }

    .mob-sidebar-btns:hover {
        background-color: rgba(128, 128, 128, 0.164);
    }

    .content-side-bac-img {
        background-image: url(../assets/home_img-bac-small.jpg);
    }

    .background-img-overlay {
        padding-left: 5%;
        padding-top: 5%;
    }

    .main-heading {
        font-size: 25px;
    }

    .main-heading h1 {
        height: auto;
        width: 100%;
    }

    .main-heading p {
        width: 100%;
    }

    .main-heading button {
        width: 35%;
        margin-top: 2%;
    }

}