/* font styleing (Inter) */
@import url('https://fonts.googleapis.com/css2?family=Delius&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "Delius", cursive;
    font-weight: 400;
    font-style: normal;
}

/* dashboard mian container */
.dash-main_container {
    width: 100vw;
    min-height: 100vh;
    max-height: auto;
    background-color: #0f0f1f;
    display: flex;
}

/* dashboard sidebar (big scr) */
.sidebar {
    height: 98.5vh;
    width: 20vw;
    background-color: #1C1824;
    margin-top: 5px;
    margin-left: 5px;
    border-radius: 10px;
    position: fixed;
    transition: transform 0.3s ease;
    overflow: hidden;
}

/* dashboard sidebar (sml scr) */
.sidebar-sml {
    display: none;
}

/* title */
.side-title {
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    color: #009dff;
    gap: 2%;
}

.side-title img {
    height: 60%;
    width: 30%;
}

/* sidebar btn container */
.btn-container {
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10%;
}

/* sidebar btns */
.sidebar_btn {
    height: 10%;
    width: 80%;
    background-color: rgb(75, 149, 213);
    display: flex;
    align-items: center;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    gap: 3%;
    font-size: 25px;
}

/* btn icon container */
.btn-icon-container {
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* right side container (content container) */
.dash-content_container {
    width: 78vw;
    margin-left: 21vw;
    display: flex;
    flex-direction: column;
}

/* site logo */
.site-logo {
    height: 30%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.site-logo img {
    height: 100%;
}

/* dashboard quote */
.dash-quote {
    height: 20%;
    width: 100%;
    color: aliceblue;
    font-size: 1.5rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dash-quote p {
    max-width: 70%;
}

/* bashboard instruction panel */
.dash-instruction-container {
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.instruction-panel {
    height: 70%;
    width: 50%;
    border-radius: 15px;
    border: 1px solid #009dff;
    overflow: hidden;
}

.instruction-title {
    height: 20%;
    width: 100%;
    background-color: #009dff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

.instructions {
    height: 80%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    font-size: 1.1rem;
}



@media (max-width: 425px) {
    body {
        overflow-x: hidden;
    }

    /* dashboard sidebar (sml scr) */
    .sidebar-sml {
        display: flex;
        height: 40px;
        width: 40px;
        background-color: black;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        margin-left: 10px;
        margin-top: 10px;
        position: fixed;
        z-index: 1001;
    }

    .sidebar {
        display: block;
        width: 70vw;
        transform: translateX(-100%);
        z-index: 1000;
    }

    .sidebar.active {
        transform: translateX(0);
    }

    /* side title img */
    .side-title img {
        height: 60%;
        width: 30%;
    }

    /* dashboard content side */
    .dash-content_container {
        width: 100%;
        min-height: 100vh;
        max-height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0;
    }

    .dash-quote {
        font-size: 1.1rem;
    }

    .dash-quote p {
        max-width: 80%;
    }

    .dash-instruction-container {
        height: 80vh;
        width: 100%;
    }

    .instruction-panel {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .instruction-panel p {
        max-width: 80%;
        text-align: center;
    }
}