/* font styleing */
/* Orbitron (for heading) */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

/* Rajdhani (for body text) */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Rajdhani:wght@300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "Rajdhani", sans-serif;    
    font-weight: 400;
    font-style: normal;
}

.rps-main_container {
    min-height: 100vh;
    max-height: auto;
    width: 100vw;
    display: flex;
    background-color: rgb(0, 0, 0);
}

.rps-content-side {
    height: 100vh;
    width: 92.8%;
    margin-left: 8.2%;
    display: flex;
    flex-direction: column;
    background-color: #1a1a1a;
}

.rps-topbar {
    height: 10vh;
    width: 100%;
    background-color: #1a1a1a;
    display: flex;
    border: 1px solid #23232b;
    font-size: 20px;
    color: white;
}

.rps-title {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 3%;
}

.rps-container {
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.rps-instructions {
    height: 20%;
    width: 100%;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.rps-show-box-container {
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
    color: white;
}

.rps-show-box {
    height: 70%;
    width: 20%;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border: 2px solid #23232b;
}
.rps-show-box-title {
    height: 20%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

.rps-show-box-img {
    height: 80%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
}

.rps-start-btn-container {
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rps-start-btn-container button {
    height: 40%;
    width: 10%;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    background: linear-gradient(135deg, #7A3FFF, #0DEBEB);
}

.rps-selection-container {
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
}

.rps-selection-box {
    height: 80%;
    width: 10%;
    border-radius: 10px;
    border: none;
    font-size: 3rem;
}

.rps-btn {
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
}

.rps-btn button {
    height: 70%;
    width: 10%;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    background: linear-gradient(135deg, #7A3FFF, #0DEBEB);
}

/*
=================================================================================================================
=================================================================================================================
Media for Mobile
=================================================================================================================
=================================================================================================================
 */

@media (max-width: 425px) {
    .rps-content-side {
        width: 100vw;
        margin-left: 0;
        overflow-x: hidden;
        padding: 5px;
    }  

    .rps-topbar {
        width: 100%;
        margin-left: 0;
        margin-top: 0;
    }

    .rps-title {
        width: 100%;
        padding-left: 20%;
    }

    .rps-instructions {
        height: 15%;
        font-size: 14px;
        text-align: center;
        padding-top: 10%;
    }

   .rps-show-box-container {
    gap: 2%;
   }

   .rps-show-box {
    width: 40%;
   }

   .rps-start-btn-container button{
    width: 25%;
   }

   .rps-selection-container button {
    width: 20%;
   }

   .rps-btn button {
    width: 30%;
   }
}